*{
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft YaHei UI Light";
}
#all{
    width: 100%;
    height: 500px;
    background-image: url(../../static/images/bg.png);
    background-size: cover;
    position: relative;
}
.login{
    width: 350px;
    height: 450px;
    position: absolute;
    top: calc(50% - 300px);
    left: calc(50% - 175px);
    border-radius: 20px;
    border-color: #333333;
    border-width: 2px;
    border-style: solid;
    padding-top: 30px;
    color: #e0e2dd;
}
.log_term{
    width: 100%;
    height: 50px;
    margin-top: 30px;
    font-size: 25px;

}
#submitBtn{
    margin-top: 40px;
    width: 100px;
    background-color: #777777;
    border-color:#333333 ;
}
#sub:hover{
    box-shadow: 0px 2px 5px #333333;
}
.login span{
    color: white;
    position: absolute;
    bottom: 5px;
}